body{
    background-color: rgb(46, 52, 54);
  
}
#container{
    background-color:white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
    width: 350px;
    height: 490px;
    margin-top: 70px;
    border-radius: 10px;
    
}
#screenContainer{
    padding: 1px;
    width: 99%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: right;
    font-size: 60px;
    overflow-x: hidden;

}
#historyContainer{
    box-sizing: border-box;
    padding: 5px;
    width: 99%;
    height: 30px;
    background-color: rgb(229, 229, 229);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    border-radius: 5px;

}
#buttonsContainer{
   padding: 1px;
   height: 150px;
   
    
}
button{
    box-sizing: border-boxs;
    width: 24.1%;
    height: 40%;
    font-size: 21px;
    font-weight: bold;
    margin: 2px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: unset;
    
}
button:hover{

    background-color: black;
    color: white;
}
#delete:hover{
background-color: red;
}
#clear:hover{
    background-color: rgb(0, 255, 26);
    }

.operators    {
    background-color: #ebebeb;
}
.operators:hover{
    background-color: rgb(113, 111, 111);
}